In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("clean_salary_data.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6702 entries, 0 to 6701
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6702 non-null   int64
 1   Age                  6702 non-null   float64
 2   Gender               6702 non-null   object
 3   Education Level      6702 non-null   object
 4   Job Title            6702 non-null   object
 5   Years of Experience  6702 non-null   float64
 6   Salary               6702 non-null   float64
 7   Country              6702 non-null   object
 8   Race                 6702 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 471.4+ KB

In [6]:
min_age = df['Age'].min()

min_age

21.0

In [7]:
max_age = df['Age'].max()

max_age

62.0

In [8]:
df['Gender'].value_counts()

Male      3674
Female    3014
Other       14
Name: Gender, dtype: int64

In [9]:
df['Education Level'].value_counts()

Bachelor's Degree    3023
Master's Degree      1861
PhD                  1370
High School           448
Name: Education Level, dtype: int64

In [10]:
df['Job Title'].value_counts()

Software Engineer             518
Data Scientist                453
Software Engineer Manager     376
Data Analyst                  363
Senior Project Engineer       318
                             ...
Account Manager                 1
Help Desk Analyst               1
Senior Training Specialist      1
Junior Web Designer             1
Supply Chain Analyst            1
Name: Job Title, Length: 193, dtype: int64

In [11]:
min_yoe = df['Years of Experience'].min()

min_yoe

0.0

In [12]:
max_yoe = df['Years of Experience'].max()

max_yoe

34.0

In [13]:
min_salary = df['Salary'].min()

min_salary

350.0

In [14]:
max_salary = df['Salary'].max()

max_salary

250000.0

In [15]:
df['Country'].value_counts()

USA          1360
China        1343
UK           1336
Australia    1336
Canada       1327
Name: Country, dtype: int64

In [16]:
df['Race'].value_counts()

White               1966
Asian               1603
Korean               457
Australian           452
Chinese              444
Black                437
African American     354
Mixed                334
Welsh                333
Hispanic             322
Name: Race, dtype: int64